@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.formStyling {
  fieldset {
    @extend %formFieldset;
    gap: 0;

    label {
      @extend %formLabel;

      @media (min-width: 768px) {
        padding-bottom: 0.2rem;
      }
    }

    .inputContainer {
      @include m.flexBox(column, center, center, 1rem);
      position: relative;
      margin-bottom: 1.5rem;

      input {
        @extend %formInput;

        @media (min-width: 768px) {
          width: 42vw;
        }
      }
    }

    textarea {
      resize: none;
      width: 52vw;
      height: 10vh;
      border: 2px solid $twenty-five-transparent;
      border-radius: 4px;

      @media (min-width: 768px) {
        width: 43vw;
      }
    }

    .formFooter {
      margin-top: 2rem;
      input {
        @extend %formSubmit;
        color: $dark-color;

        @media (min-width: 768px) {
          padding: 0.7rem;
        }
      }

      @media (min-width: 768px) {
        align-self: flex-end;
      }
    }
  }
}
