@use "./mixins" as m;
@use "./variables" as *;

%formFieldset {
  @include m.flexBox(column, center, center, 2rem);
  background: $white-color;
  border-radius: 6px;
  border: 0;
  box-shadow: 2px 1px 3px $twenty-five-transparent;
  padding: 1rem 2rem 1rem 2rem;

  @media (min-width: 768px) {
    gap: 6.5rem;
  }

  header {
    color: $sixty-five-transparent;

    @media (min-width: 768px) {
      font-size: 24px;
    }
    h2 {
      border-bottom: 2px solid $twenty-five-transparent;
      padding-bottom: 0.5rem;
      font-weight: 300;

      @media (min-width: 768px) {
        margin-left: 0rem;
      }
    }
  }
}

%formInput {
  border: 2px solid $twenty-five-transparent;
  border-radius: 4px;
  outline: none;
  padding: 0.2rem;
  width: 50vw;

  @media (min-width: 768px) {
    padding: 0.5rem;
    width: 40vw;

    &::placeholder {
      font-size: 18px;
    }
  }
}

%formSubmit {
  border: 0;
  border-radius: 6px;
  padding: 0.5rem 2.5rem;
  width: 35vw;
  color: $seventy-five-transparent;

  @media (min-width: 768px) {
    width: 15vw;
    font-size: 17px;
  }
}
