@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;

.formStyling {
  @include m.flexBox(column, center, center, 1rem);
  border-radius: 6px;

  fieldset {
    @include m.flexBox(column, center, center, 2rem);
    background: $white-color;
    border-radius: 6px;
    border: 0;
    box-shadow: 2px 1px 3px #00000025;
    padding: 0rem 2rem 1rem 2rem;

    header {
      h2 {
        border-bottom: 2px solid #00000025;
      }
    }

    div {
      @include m.flexBox(column, center, center, 1rem);

      .inputContainer {
        @include m.flexBox(column, center, center, 1rem);
        position: relative;
      }

      label {
        align-self: flex-start;
      }

      input {
        border: 2px solid #00000025;
        border-radius: 4px;
        outline: none;
        padding: 0.2rem;
        width: 50vw;
      }
    }

    .formFooter {
      p {
        max-width: 150px;
      }

      input {
        border: 0;
        border-radius: 6px;
        padding: 0.5rem 2.5rem;
        width: 35vw;
      }
    }
  }
}
