@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.formStyling {
  @include m.flexBox(column, center, center, 1rem);
  border-radius: 6px;

  fieldset {
    @extend %formFieldset;

    div {
      @include m.flexBox(column, center, center, 1rem);

      .inputContainer {
        @include m.flexBox(column, center, center, 1rem);
        position: relative;
      }

      label {
        align-self: flex-start;
      }

      input {
        @extend %formInput;
      }
    }

    .formFooter {
      @include m.flexBox(column, center, center, 1rem);

      @media (min-width: 768px) {
        flex-direction: row;
      }

      @media (min-width: 1280px) {
        gap: 3rem;
      }

      p {
        max-width: 150px;
        color: $sixty-five-transparent;

        @media (min-width: 768px) {
          max-width: 350px;
          font-size: 19px;
        }

        a {
          color: $seventy-five-transparent;
        }
      }

      input {
        @extend %formSubmit;
      }
    }
  }
}
