@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;

.wrapperStyling {
  margin-top: 3.5rem;
  @include m.flexBox(column, center, center, 1rem);
  overflow-x: auto;

  h2 {
    font-weight: 400;
    color: $seventy-five-transparent;
    align-self: flex-start;
    margin-left: 3rem;

    @media (min-width: 607px) {
      font-size: 26px;
      margin-left: 7.8rem;
    }

    @media (min-width: 940px) {
      margin-left: 10rem;
    }

    @media (min-width: 1280px) {
      margin-left: 12.8rem;
    }

    @media (min-width: 1440px) {
      margin-left: 30.5rem;
    }
  }
}
