@use "../../styles/variables" as *;

.iconStyling {
  width: 100%;
  cursor: pointer;

  @media (min-width: 768px) {
    width: 5.5vw;
    min-width: 5.5vw;
    max-width: 5.5vw;
  }

  @media (min-width: 1280px) {
    width: 4vw;
    min-width: 4vw;
    max-width: 4vw;
  }

  @media (min-width: 1440px) {
    width: 2.5vw;
    min-width: 2.5vw;
    max-width: 2.5vw;
  }

  &.flip {
    transform: rotate(180deg);

    @media (min-width: 1280px) {
      padding: 0rem 2rem;
    }
  }

  &.openIcon {
    width: 100%;
  }

  &.acountLink {
    width: 8vw;

    @media (min-width: 768px) {
      width: 5.5vw;
      min-width: 5.5vw;
      max-width: 5.5vw;
    }

    @media (min-width: 1280px) {
      width: 3.5vw;
      min-width: 3.5vw;
      max-width: 3.5vw;
    }

    @media (min-width: 1440px) {
      width: 2.6vw;
      min-width: 2.6vw;
      max-width: 2.6vw;
    }
  }

  &.small {
    width: 10%;
    position: absolute;
    top: 10%;
    right: 4%;

    @media (min-width: 768px) {
      width: 4vw;
      min-width: 4vw;
      max-width: 4vw;
    }

    @media (min-width: 1280px) {
      width: 2.5vw;
      min-width: 2.5vw;
      max-width: 2.5vw;
    }

    @media (min-width: 1440px) {
      width: 1.5vw;
      min-width: 1.5vw;
      max-width: 1.5vw;
    }
  }

  &.edit {
    width: 6vw;
    border-radius: 6px;
    background: $salmon-color;
    padding: 0.2rem 0.2rem;

    @media (min-width: 768px) {
      width: 3.7vw;
      min-width: 3.7vw;
      max-width: 3.7vw;
    }

    @media (min-width: 1280px) {
      width: 2.5vw;
      min-width: 2.5vw;
      max-width: 2.5vw;
    }

    @media (min-width: 1440px) {
      width: 1.5vw;
      min-width: 1.5vw;
      max-width: 1.5vw;
    }

    &:first-of-type {
      background: $blue-color;
    }
  }
}
