@use "../../styles/variables" as *;

.iconStyling {
  width: 100%;

  &.flip {
    transform: rotate(180deg);
  }

  &.acountLink {
    width: 100%;
  }

  &.small {
    width: 10%;
    position: absolute;
    top: 10%;
    right: 4%;
  }

  &.edit {
    width: 6vw;
    border-radius: 6px;
    background: $salmon-color;
    padding: 0.2rem 0.2rem;

    &:first-of-type {
      background: $blue-color;
    }
  }
}
