@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;

.monthContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(6, 1fr);
  }

  @media (min-width: 1080px) {
    grid-template-columns: repeat(12, 1fr);
    gap: 1.1rem;
  }

  div {
    padding: 1rem 0.5rem;
    font-family: "Roboto Condensed", sans-serif;
    color: $seventy-five-transparent;
    text-align: center;
    border-radius: 6px;
    filter: drop-shadow(3px 2px 2px $twenty-five-transparent);
    cursor: pointer;

    @media (min-width: 1280px) {
      padding: 1.1rem 0.8rem;
    }

    &.yellow {
      background: $yellow-color;
    }

    &.green {
      background: $grey-color;
    }

    &.red {
      background: $pink-color;
    }

    &.blue {
      background: $blue-color;
    }

    &.purple {
      background: $purple-color;
    }
  }
}
